@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dt>@claim.Value</dt>
    }
    @*<dt>AccessToken</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("")</dd>
    <dt>AccessToken</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("")</dd>
    <dt>AccessToken</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("")</dd>*@
